@mixin radio() {
  user-select: none;
  .label {
    margin-bottom: 8px;
  }
  label.link {
    cursor: pointer;
    padding: 9px 11px;
    font-size: 14px;
    margin-bottom: 4px;
    position: relative;
    border: 2px groove transparent;
  }
  input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
    padding: 0;
  }
  .link {
    &:hover {
      border: 2px groove #777;
    }

    &.btn-active {
      border: 2px groove #777;
    }
  }
}

:host {
  @include radio();
}

ui-radio-group {
  @include radio();
}
