.slot {
    margin: 0 20px;
    padding: 20px;
}

::slotted(button) {
    display: block;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
    background: #333;
    color: white;
    border: none;
    padding: 5px 10px;
    outline: none !important;
    border: 2px groove #777;
    background-color: white !important;
    color: #333 !important;
    font-family: inherit;

    @media (max-width: 768px) {
        margin: 10px;
        padding: 10px;
    }
}

::slotted(button.btn-active) {
    color: white !important;
    background-color: black !important;
}

.row {
    display: inline-flex;
}
