$c: lightgray;
$w: 1px;

.slot {
  padding-top: 10px !important;
  border-top: $w * 2 groove $c !important;
  position: relative !important;
  top: -$w !important;
}

::slotted(button) {
  /* margin: 0 0 -1px; */
  padding: 8px 10px 6px !important;
  font-weight: 600 !important;
  border: $w solid transparent !important;
  background: transparent !important;
  cursor: pointer !important;
  font-family: inherit !important;
  font-weight: 600 !important;
}

::slotted(button.btn-active) {
  outline: none !important;
  position: relative !important;
  bottom: -$w !important;
  background-color: white !important;
  border: $w * 2 groove $c !important;
  border-bottom: none !important;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  //box-shadow: 0px $w $color-third, inset 0px -$w 6px 0px white;
  z-index: 1;
}

:host(:hover) ::slotted(button) {
  background-color: var(--bg);
}

::slotted(button:focus) {
  outline: none !important;
}

.row {
  padding: 1px !important;
}

@media screen and (max-width: 768px) {
  ::slotted(button) {
    display: block !important;
    margin-bottom: 10px !important;
    padding: 5px !important;
    border: none !important;
    border-radius: 3px !important;
    border: $w * 2 groove $c !important;
  }

  ::slotted(button:hover) {
    border: $w * 2 groove $c !important;
  }

  ::slotted(button:focus) {
    outline: none !important;
  }

  ::slotted(button.btn-active) {
    border: $w * 2 groove $c !important;
    bottom: 0 !important;
    color: white !important;
    background-color: black !important;
    border: none !important;
  }

  .slot {
    border-top: none !important;
  }
}
