.slot {
    margin: 0 20px;
    padding: 20px;
}

::slotted(button) {
    display: block;
    margin: 5px;
    cursor: pointer;
    background: #333;
    color: white;
    border: none;
    padding: 5px 10px;
}

::slotted(button.selected) {
    background-color: #ff0000 !important;
    outline: none !important;
    color: white !important;
}

.row {
    display: inline-flex;
}
