@import "./../../../../node_modules/debugger-look/src/variables";

$c: #333;
$w: 1px;

.slot {
    padding-top: 10px;
    border-top: $w solid $c;
    position: relative;
    top: -$w;
}

::slotted(button) {
    /* margin: 0 0 -1px; */
    padding: 8px 10px 6px;
    font-weight: 600;
    border: $w solid transparent;
    background: transparent;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
}

::slotted(button.btn-active) {
    outline: none !important;
    position: relative;
    bottom: -$w;
    background-color: white;
    border: $w*2 groove silver;
    border-bottom: none;
    //box-shadow: 0px $w $color-third, inset 0px -$w 6px 0px white;
    z-index: 1;
}

:host(:hover) ::slotted(button) {
    background-color: var(--bg);
}

::slotted(button:focus) {
    outline: none !important;
}

.row {
    padding: 1px;
}

@media screen and (max-width: 768px) {
    ::slotted(button) {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        border: none;
        border: $w*2 groove silver;
    }

    ::slotted(button:hover) {
        border: $w*2 groove silver;
    }

    ::slotted(button:focus) {
        outline: none;
    }

    ::slotted(button.btn-active) {
        border: $w*2 groove black;
        bottom: 0;
    }

    .slot {
        border-top: none;
    }
}
