@import "./../../../../node_modules/debugger-look/src/variables";

$c: #333;
$w: 2.5px;

.slot {
    padding: 10px 0;
    border-top: $w solid $c;
    position: relative;
    top: -2px;
}

::slotted(button) {
    /* margin: 0 0 -1px; */
    padding: 8px 10px 6px;
    font-weight: 600;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
}

::slotted(button.btn-active) {
    outline: none !important;
    position: relative;
    bottom: -1px;
    background-color: white;
    border: $w solid $c;
    border-bottom: none;
    //box-shadow: 0px $w $color-third, inset 0px -$w 6px 0px white;
    z-index: 1;
}

:host(:hover) ::slotted(button) {
    background-color: var(--bg);
}

::slotted(button:focus) {
    outline: none !important;
}

.row {
    padding: 2px;
}

@media screen and (max-width: 768px) {
    ::slotted(button) {
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        border: none;
        box-shadow: inset 0px 0px 0px 1px black;
    }

    ::slotted(button:hover) {
        box-shadow: inset 0px 0px 0px $w silver;
    }

    ::slotted(button:focus) {
        outline: none;
    }

    ::slotted(button.btn-active) {
        box-shadow: inset 0px 0px 0px $w black;
        border: none;
    }

    .slot {
        border-top: none;
    }
}
