@mixin watch {
  .watch-box {
    display: inline-block;
    transform-origin: 0 0;
    /* transform: skew(0deg, 7deg); */
    .binary {
      cursor: pointer;
      table {
        display: inline;
        margin-right: 3px;
        td {
          $w: 15px;
          width: $w;
          height: $w;
          border: 1px solid rgba(black, .1);
          box-sizing: border-box;
        }
        .active {
          background-color: rgba(black, .2);
        }
      }
    }
    .time {
      font-size: 28px;
    }
    &.hid span {
      display: none;
    }
  }
}

:host {
  @include watch();
}

ui-watch {
  @include watch();
}
