@mixin watch {
  .watch-box {
    display: inline-block;
    transform-origin: 0 0;

    /* transform: skew(0deg, 7deg); */
    .binary {
      cursor: pointer;

      table {
        display: inline;
        margin-right: 3px;

        td {

          padding: 3px 7px;
          box-shadow: inset 0 0 1px 1px silver;

          text-align: center;
        }

        .active {
          box-shadow: inset 0 0 1px 1px black;
        }
      }
    }

    .time {
      font-size: 28px;
    }

    &.hid span {
      visibility: hidden;
    }
  }
}

:host {
  @include watch();
}

ui-watch {
  @include watch();
}
